div.a1 {
  background-color: white;
  height: 170px;
  width: auto;
}
div.a1 img {
  float: left;
  width: 140px;
  display: block;
  margin-left :auto;
  margin-right: auto;
}
.a2 {
  color: #00008b;
  font-size: 50px;
  float: none;
  display: block;
  margin-left :auto;
  margin-right: auto;
  font-weight: bolder;
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00008b;
}
#navigation li {
  float: left;
}
#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  background-color: #00008b;
}
#navigation li a:hover {
  background-color: white;
  color: #00008b;
}
div.a3 {
  font-family: monospace;
  text-align: center;
  color: #00008b;
  font-size: 20px;
  display: block;
  margin-left :auto;
  margin-right: auto;
}
div.a4 {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  background-color: white;
  color: black;
  height: 420px;
  width: auto;
  border: solid black;
  border-width: 2px 3px;
  font-family: monospace;
}
div.a5 {
  background-color: white;
  color: black;
  height: 80px;
  width: auto;
}
.a6 {
  display: block;
  margin-right: auto;
  border: solid black 2px;
  position: absolute;
  left: 50%;
  margin-left: -72px;
  color: #00008b;
  font-size: 30px;
  text-align: center;
  font-family: monospace;
}
.a7 {
  width: auto;
  height: 320px;
  background-color: white;
  border: solid 2px;
  float: center;
  font-family: monospace;
}
div.a7 img {
  display: block;
  width: 60%;
  margin-left :auto;
  margin-right: auto;
  width: 250px;
  height: 200px;
}
div.a7 p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.a8 {
  width: auto;
  height: 390px;
  background-color: white;
  border: solid 2px;
  float: center;
  font-family: monospace;
}
div.a8 img {
  display: block;
  width: 60%;
  margin-left :auto;
  margin-right: auto;
  width: 250px;
  height: 200px;
}
div.a8 p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
div.a9 {
  background-color: white;
  color: black;
  height: 50px;
  width: auto;
  font-family: monospace;
}
.a10 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #00008b;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
}
.a11 {
  width: auto;
  height: 360px;
  background-color: white;
  border: solid 2px;
  float: center;
  font-family: monospace;
}
div.a11 img {
  display: block;
  width: 60%;
  margin-left :auto;
  margin-right: auto;
  width: 250px;
  height: 200px;
}
div.a11 p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:30%;
    position: relative;
    height:0;
    text-align: center;
}
.map-responsive iframe {
    height:70%;
    width:50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}
.top {
  text-align: right;
  height: 30px;
  background-color: white;
  color: #00008b;
  font-size: 15px;
  font-family: monospace;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
  flex: 50%;
  height: auto;
  background-color: white;
  color: black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-style: oblique;
  font-weight: bolder;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* for a responsive webpage */
@media only screen and (max-width:800px) {
  /* For tablets: */
  img, div span.a2 {
    max-width: 80%;
    padding: 0;
    font-size: 5vw;
  }
}
@media only screen and (max-width:625px) {
  .row {
    max-width: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 2vw;
  }
}
@media all screen and (max-width:480px) {
  /* For mobile phones: */
  div.a1 img {
    max-width: 100%;
    position: relative;

  }
  #navigation li {
    float: left;
    position: absolute;
  }
  #navigation li a {
    float: left;
    width: 100%;
  }
#top {
    max-width: 100%;
    font-weight: bolder;
    font-size: 30px;
  }
  .a5 {
    display: inline;
    text-align: center;
  }
  img {
    display: block;
    width: 60%;
    margin-left :auto;
    margin-right: auto;
  }
  .row {
    max-width: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 2vw;
  }
}
